body::-webkit-scrollbar{
  display: none;
}

.overflow__scroll__bar{

}
.overflow__scroll__bar::-webkit-scrollbar {
  width: 10px;
}

.overflow__scroll__bar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.overflow__scroll__bar::-webkit-scrollbar-thumb {
  background: #8ee4af; 
  border-radius: 5px;
}

.overflow__scroll__bar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
